.messageInput{
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.messageInput input{
    flex: 1;
    padding:10px;
    font-size:1rem;
    border:none;
    outline:none;
}

.messageInput button{
    background-color: #075e54;
    color: white;
    border:none;
    padding: 10px 16px;
    cursor: pointer;
}