// src/styles/_variables.scss
$kenya-green: #009639;
$kenya-red: #FF0000;
$sa-green: #007A33;
$sa-yellow: #FDD300;
$primary-color: $kenya-green;
$secondary-color: $sa-yellow;

$sidebar-width: 300px;
$chat-header-height: 60px;
$chat-input-height: 80px;
